.a{
    height:850px;
    width:800px;
    background-color:rgb(229, 218, 218);
   
}
.a1{
    height:200px;
    width:800px;
    position:relative;
    top:320px;
    background-color: rgb(183, 180, 180);
}
.f{
    font-family:'Rajdhani';
    font-size:28px;
    margin-left:0px;
    position: relative;
    top:30px;
    left:170px;
}
.f1{
    font-family:'fantasy';
    font-size:40px;
    position:relative;
    bottom:0px;
    top:20px;
    left:200px;
}
.f5{
    margin-left:80px;
    margin-top:30px;
    margin-right:80px;
}
.b1{
    border-radius: 20px;
    height:30px;
    width:110px;
    background-color:rgb(91, 91, 210);
    color:white;
    font-size:12px;
    border:0px;
    margin-top:20px;
}
.a2{
    width:300px;
    height:200px;
    background-color: white;
    position: relative;
    bottom:80px;
    left:80px;
    margin-bottom:30px;
}
.a3{
    width:300px;
    height:200px;
    background-color: white;
    margin-top:0px;
    position: relative;
    bottom:630px;
    left:400px;
    margin-bottom:30px;
}
.i1{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:orange;
    position:relative;
    top:30px;
    left:10px;
    margin-bottom:10px;
}
.f3{
    font-family: 'Oswald';
    font-size: 15px;
    position: relative;
    left:10px;
    top:10px;
}
.f2{
    
    font-size: 14px;
    margin-top:10px;
    margin-left:10px;
    right:60px;
    bottom:0px;
}
.i2{
    position: relative;
    left:18px;
    top:15px;
}