.a{
    height:700px;
    width:1400px;
    background-color:rgb(207, 196, 196);
}
.f{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
    top:20px;
}
.a1{
    height:200px;
    width:250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    margin-top: 50px;
    margin-right:20px;
    margin-left:120px;
    position:relative;
    float:left;
    background-color: white;
 }
 .a11{
    height:15px;
    width:250px;
    background-color: rgb(185, 9, 115);
    float:left;
}

 .a12{
    height:15px;
    width:250px;
    background-color: rgb(20, 214, 228);
    float:left;
 }
 .a13{
    height:15px;
    width:250px;
    background-color: rgb(10, 146, 35);
    float:left;
 }
 .a14{
    height:15px;
    width:250px;
    background-color: rgb(232, 210, 11);
    float:left;
 }
 .a15{
    height:15px;
    width:250px;
    background-color: rgb(144, 69, 154);
    float:left;
 }
 .a16{
    height:15px;
    width:250px;
    background-color: rgb(193, 89, 158);
    float:left;
 }
 .i1{
    height:50px;
    width:50px;
    margin-top:30px;
    margin-left:20px;
    border-radius:50%;
    background-color: rgb(185, 9, 115);
} 
 i{
    margin-top: 18px;
    margin-left:18px;
 }
 .f1{
    margin-top: 18px;
    margin-left:18px;
    font-size:20px;
 }
 .f2{
    margin-top: 15px;
    margin-left:18px;
    font-size:15px;
 }
 .b1{
    height:40px;
    width:150px;
    border-radius:20px;
    background-color: rgb(185, 9, 115);
    font-size:12px;
    float:left;
    position:relative;
    top:300px;
    right:620px;
    color:aliceblue;
 }